* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100%;
    width: 300px;
    position: relative;
}

.wrapper .menu-btn {
    position: absolute;
    background: blue;
    height: 45px;
    width: 45px;
    left: 15px;
    top: 10px;
    z-index: 5;
    border: 1px solid rgb(4, 163, 255);
    box-shadow: 0px 0px 1px 1px rgb(0, 238, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wrapper .menu-btn:hover {
    box-shadow: inset 0px 0px 15px 15px rgb(0, 238, 255);
}

.sidebar {
    background: #546e7a;
    position: fixed;
    height: 100%;
    width: 270px;
    left: -270px;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 5px 5px rgba(126, 125, 125, 0.459);
}

.sidebar .title {
    line-height: 65px;
    text-align: center;
    background-color: #29434e;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    border-bottom: 1px solid black;
}

.sidebar .list-item {
    padding-left: 0px;
    line-height: 50px;
    border-top: 1px solid grey;
    border-bottom: 1px solid transparent;
}

.sidebar .list-item li {
    list-style: none;
    padding-left: 10px;
    color: #ffffff;
    border-top: 1px solid #819ca9;
    border-bottom: 1px solid #819ca9;
}

.sidebar .list-item li:hover {
    box-shadow: -6px 0px 10px 3px #21272a;
    cursor: pointer;
    border-top: 2px solid #819ca9;
    border-bottom: 2px solid #819ca9;
}

.sidebar .list-item li a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    margin-left: 20px;
}

#btn:checked ~ .menu-btn {
    left: 210px;
}

#btn:checked ~ .sidebar {
    left: 0px;
}
