* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    height: 100%;
    width: 300px;
    position: relative;
}

.wrapper .menu-btn {
    position: absolute;
    background: blue;
    height: 45px;
    width: 45px;
    left: 15px;
    top: 15px;
    z-index: 5;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar {
    background: orange;
    position: fixed;
    height: 100%;
    width: 270px;
    left: -270px;
    transition: all 0.3s ease;
}

.sidebar .title {
    line-height: 65px;
    text-align: center;
    background-color: darkblue;
    font-size: 25px;
    font-weight: 600;
}

